.authors-empty {
  padding: 6px 0;
  margin: 6px 0;

  p {
    padding: 6px 0 0;
  }
}

.authors-list {
  h4 {
    margin: 4px;
  }

  ::ng-deep .mat-list-item-content {
    font-size: 12px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .authors-empty {
    padding: 8px 0;
    margin: 8px 0;

    p {
      padding: 8px 0 0;
    }
  }

  .authors-list {
    h4 {
      margin: 8px;
    }

    ::ng-deep .mat-list-item-content {
      font-size: 14px;
    }
  }
}
