<article appUiHoverable>
  <div class="title">
    <h4>{{ model.title }}</h4>
    <p class="sub-title">{{ model.datetime | date }}</p>
  </div>

  <div class="content">
    <p>{{ model.body }}</p>
  </div>

  <div class="information" *ngIf="deleting">
    <app-ui-progress-bar [label]="data.labels.deleting"></app-ui-progress-bar>
  </div>

  <div class="foot">
    <div class="author">
      <p class="sub-title">{{ model.authorDisplayedName }}</p>
    </div>

    <div class="actions">
      <button (click)="onEdit()">[Edit]</button>
      <button (click)="onDelete()">[Delete]</button>
    </div>
  </div>
</article>
