<mat-form-field>
  <label>
    <input matInput
           [name]="name"
           [type]="type"
           [placeholder]="placeholder"
           [formControl]="control">
  </label>
  <button mat-button matSuffix mat-icon-button aria-label="Clear"
          (click)="control.setValue('')"
          *ngIf="control.value !== ''">
    <mat-icon>close</mat-icon>
  </button>
  <mat-hint *ngIf="hintMessage">{{ hintMessage }}</mat-hint>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-form-field>
