.container {
  margin: 5px;

  p {
    margin: 5px 0 0;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 10px;

    p {
      font-size: 14px;
    }
  }
}
