mat-toolbar {
  display: block;
}

mat-sidenav-container {
  min-height: 85vh;

  mat-sidenav {
    max-width: 75vw;
  }
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  mat-sidenav-container {
    mat-sidenav {
      max-width: 45vw;
    }
  }
}
