.container {
  padding: 0 4px 4px;
  margin: 6px auto 0;

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px 0;
    border-bottom: 1px solid #CCCCCC;

    .header-title {
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: start;
      align-self: center;

      h4 {
        margin: 6px 0;
        font-size: 1.2em;
      }
    }

    .action-buttons {
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: end;
      align-self: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 8px 8px;
    margin: 12px auto 0;

    header {
      padding: 8px 0;

      h4 {
        margin: 12px 0;
      }
    }
  }
}
