.container {
  max-width: 90%;
  padding: 0 8px;
  margin: 8px auto;

  ul {
    padding: 0;
    margin: 0;
  }

  .error-message {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 70%;
    padding: 0 16px;
    margin: 16px auto;

    .error-message {
      width: 50%;
    }
  }
}
